{% extends "layout.html" %}

{% block content %}

    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>
            CK stands for Complete Knowledge.
        <b> A  PoCK (Proof of Complete Knowledge) may be viewed as a strengthened variant of a conventional proof of knowledge.
        <b>It shows not just knowledge of a secret (witness), but fully unencumbered knowledge, i.e., unrestricted ability to use the secret for any desired purpose.
        </h3>
    </div>

    <!-- Starts image section -->
    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>Why does it matter?
            Proofs of knowledge (PoKs) do not actually prove knowledge in cases where a prover may interact with other entities, which introduces a range of coercive attacks.
            Whereas integrating PoCK into existing protocols to safeguard users from coercion.
        </h3>
            <div class="thumbnail">
                <img src="{{url_for('static', filename='images/originaldataset.jpg')}}" class="img-thumbnail" />
        </div>
    </div>

    <!-- Ends image section -->

    <!-- Starts text section -->
    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>**Deniable Messaging**: Require CK proof of forgeability with message
            Deniable messaging protocols allow 2 parties to have "off the record" convos without leaving any record that convinces external verifiers of what they said in the convo</h3>
    </div>
    <!-- Ends text section -->
    
    <!-- Starts text section -->
    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>**Voting**: Require PoCK on vote key for ability to fake vote / re-vote with vote</h3>
    </div>

    <!-- Ends text section -->

    <!-- Starts image section -->
    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>**Bribery**: Require PoCK on funds key for ability to equivocate against briber</h3>
            <div class="thumbnail">
                <img src="{{url_for('static', filename='images/Cleaneddataset.jpg')}}" class="img-thumbnail" />
        </div>
    </div>

    <!-- Ends image section -->

    <!-- Starts text section -->
    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>If you don’t use CK, your blockchain protocol is vulnerable to bribery/coercion. If you use CK, it helps in the design of protocols resistant to coercive attacks. </h3>
    </div>

    <!-- Ends text section -->



{% endblock %}