{% extends "layout.html" %}

{% block content %}
<html>
<head>
<style>
h2 {
  color: rgb(58, 118, 209);
  font-family: verdana;
  font-size: 300%;
}
p {
  color: rgb(247, 247, 247);
  font-family: courier;
  font-size: 160%;
  border: 2px solid rgba(2, 62, 70, 0.144);
  padding: 20px;
}
form {
  border: 2px solid rgb(2, 62, 70);
  padding: 20px;
}
body {
  background-color: rgb(89, 158, 204);
}
::placeholder {
  font-size: 12px;
  font-style: italic;
}

</style>
</head>
<body>


    <!-- Starts image section -->
    <div class="row justify-content-md-center mb-4">
      <h2 class='text-primary'>CK Me!</h2>
  </div>
  
        <p> Welcome to our CK Me Application!
          <br>
          Want to use CK? Enter your private key and SGX endpoint to mint the badge!
          <br>
          Please do not use this app if you're not familiar with phishing attacks.
          <br>
          Made with Love and Coffee by Phil Daian, Tyler Kell, Sarisht Wadhwa, Austin Liu, Nicolas Zhang, James Austgen, Haocheng Shen, Alice Hou, Tiantian Gong, Haaroon Yousaf and 13yearoldvc
          <br>
          <br>
        <button type="button" onclick="window.location.href='/about'">About</button>
        <input type="button" onclick="location.href='https://docs.google.com/presentation/d/1sSMpq-CiM9N6BqogTmI_Doghwo8TRXgsV-KE7lSfdUI/edit#slide=id.g7e1311aef4_0_123';" value="View Phil's Security Seminar"/></p>
       
       
    </div>
    
    
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{{url_for('static', filename='images/together.jpg')}}" class="img-thumbnail" />
                <div class="caption">
                    
                   </div>
            </div>
        </div>
        
    <!-- Ends image section -->
    
    <!-- Starts form section -->
    <div class="form-container ">
        <form class="form-horizontal" action = "/predict/" method="post">
            <!-- Selection for "Pk" -->
            <div class="form-group row">
              <label class="control-label col-sm-2" for="pk">Private Key:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="pk" name="pk" placeholder="your wallet private key">
              </div>
            </div>
    
            <!-- Selection for "SGX Endpoint" -->
            <div class="form-group row">
              <label class="control-label col-sm-2" for="sgxendpt">SGX Endpt:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="sgxendpt" name="sgxendpt" placeholder="your SGX endpoint">
              </div>
            </div>

            <div class="form-group row">
              <label class="control-label col-sm-2" for="sgxendpt">Our SGX Endpt if you trust us:</label>
            </div>

            <div class="form-group row"> 
            <label class="control-label col-sm-2" for="">&nbsp;</label>                
              <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">CK Me!</button>
              </div>
            </div>
          </form>
        <!-- Ends form section -->
        
        
    </div>


{% endblock %}
