{% extends "layout.html" %}

{% block content %}
<html>
<head>
<style>
h2 {
  color: rgb(58, 118, 209);
  font-family: verdana;
  font-size: 300%;
}
p {
  color: rgb(247, 247, 247);
  font-family: courier;
  font-size: 160%;
  border: 2px solid rgba(2, 62, 70, 0.144);
  padding: 20px;
}
form {
  border: 2px solid rgb(2, 62, 70);
  padding: 20px;
}
body {
  background-color: rgb(89, 158, 204);
}
</style>
</head>
<body>

    <div class="row justify-content-md-center mb-4">
        <h3 class='text-primary'>You're CK with SGX in block: XXX</h3>

        <h4 class='text-primary'>Proof: TX LINK</h3>

        <p> Want to learn more about CK?</p>
              <button type="button" onclick="window.location.href='/about'">Learn More</button>
    
    </div>


{% endblock %}